body { font-family: "Century Gothic", Arial, sans-serif;
}

header { background-color: #0E0E0E;
		 background-image: url(sexy-desktop-backgrounds2.jpg);
		 background-repeat: no-repeat;
		 background-position: right; 
		 color: #000000;  
		 text-align: center; 
		 padding: 10px 0; 
}

#jumbotron { background-image: url(bg1.jpg); 
			 background-repeat: no-repeat; 
			 background-color: #0E0E0E; 
			 margin-left: auto; 
			 margin-right: auto; 
			 width: auto; 
			 height: 350px; 
			 padding-top: 120px;
			 padding-left: 120px; }
			 
#jumbotron p { color: #FFFFFF;
			   font-size: 1.2em;
			   margin-top: -20px; }

#jumbotron a { color: #81bd41; 
			   font-weight: bold; }

h1 { color: #FFFFFF;
	 font-size: 3em; 
}

#mobilemain { display: none;
				}

#mobilemain a { color: #81bd41; 
				text-decoration: none; }

#wrapper { width: 95%; 
		   margin-left: auto; 
		   margin-right: auto; 
		   background-color: #FFFFFF; 
		   max-width: 1024px; 
}

.radios { display: inline; }

label { float: left; 
		text-align: right; 
		width: 100px; 
		}
		
#sub { width: 100%; }

h2 { text-align: center; }

nav { text-align: center;
	  padding-bottom: 8px; }
  nav ul { list-style-type: none; 
  }
  nav li { display: inline-block; 
		   
  }
  nav a { text-decoration: none;   
		  display: block; 
  }
  nav a:link { color: #000000;
		   text-transform: uppercase;  
		   font-weight: bold;
		   padding-left: 5px;
		   padding-right: 5px; 
  }
  nav a:visited { color: #000000; 
  }
  nav a:hover { color: #595959; 
  }
  
main { font-size: .90em; 
	   padding: 10px 20px 10px 20px;
	   }

#desktop table, th, tr, td { border: 10px solid white;
							 margin-left: auto;
							 margin-right: auto;
							 }

	   
#mainmag { font-size: .90em; 
		   padding: 10px 20px 10px 20px;
		   margin-left: auto; 
		   margin-right: auto;
	   }	 

#centeredmag { display: block; 
		   margin-left: auto;
		   margin-right: auto; 
		   max-width: 100%;
		   height: auto;}	   

table { margin: auto;  
		padding: 20px 0 20px 0;
		}
		
th { text-align: left; }

table a { color: #81bd41; 
		  text-decoration: none; }

caption { font-weight: bold; 
		  font-size: 1.5em; }

.centered { text-align: center; 
			}

.note { text-align: center; 
		font-size: .80em; }

label { float: left;
		display: block; 
		text-align: right; 
		width: 15em; 
		padding-right: 15px; }
		
input, textarea { display: block; 
				  margin-bottom: 1em; }
				  
#mySubmit { margin-left: auto;
			margin-right: auto; }
		  
footer { background-color: #81bd41; 
	color: #FFFFFF; 
	font-size: .60em;
	font-style: italic; 
	text-align: center; 
	padding: 20px 0px; 	
	}
	
  footer a:link { color: #FFFFFF; 
		   font-weight: bold;
		   padding-left: 5px;
		   padding-right: 5px; 
  }
  footer a:visited { color: #FFFFFF; 
  }
  footer a:hover { color: #F2F2F2; 
  }

#mobile { display: none; }  
  
@media only screen and (max-width: 1024px) { 
	body { margin: 0; }
	#wrapper { width: auto; 
			   min-width: 0; 
			   margin: 0; 
			   }
	nav ul { padding-top: .6em; 
			 margin: 0; 
			 }
	main { padding: 2em; }	
	#jumbotron { background-image: url(bg2.jpg); 
}

@media only screen and (max-width: 768px) { 
	body { margin: 0; }
	#wrapper { width: auto; 
			   min-width: 0; 
			   margin: 0; 
			   }
	nav ul { padding-top: .6em; 
			 margin: 0; 
			 }
	h1 { padding-bottom: .5em;
	}
	#desktop { display: none; }
	#mobile { display: block; 
			  margin-left: auto; 
			  margin-right: auto;
			  padding-left: auto;
			  padding-right: auto;
			  padding-bottom: 15px; 
			  }
	label { float: right;
		display: block; 
		text-align: center; 
		width: 14em; 
		padding-right: 15px; }
	form, input { display: inline-block; 
		   text-align: center; }
	#mySubmit { margin-left: auto;
				margin-right: auto; }
	#sub { width: 85%}			

	main { padding: 2em; }	
	#jumbotron { background-image: url(bg2.jpg); 
}
	header { background-color: #0E0E0E;
		 background-image: url(sexy-desktop-backgrounds3.jpg);
		 background-repeat: no-repeat;
		 background-position: right; 
		 color: #000000;  
		 text-align: center; 
		 padding: 10px 0; 
}
}

@media only screen and (max-width: 480px) { 
	nav a { padding: .2em; 
	font-size: 1.25em; 
	width: auto; 
	border-bottom: 1px solid #000000;
	margin-left: -50px;
	}
	nav li { display: block; }
	h1 { padding-bottom: .5em;
	}
	#mainimg { display: none; }
	#desktop { display: none; }
	#mobile { display: block; 
			  margin-left: auto; 
			  margin-right: auto;
			  padding-left: auto;
			  padding-right: auto;
			  padding-bottom: 15px; 
			  }
	label { float: right;
		display: block; 
		text-align: center; 
		width: 14em; 
		padding-right: 15px; }
	form, input { display: inline-block; 
		   text-align: center; }
	#mySubmit { margin-left: auto;
				margin-right: auto; }
				
	#maintable { display: none; }
	#mobilemain { display: inline; 
				}
	#jumbotron { background-image: url(bg3.jpg); 
			 background-repeat: no-repeat; 
			 margin-left: auto; 
			 margin-right: auto; 
			 width: auto; 
			 height: 500px; 
			 padding: 60px 60px 0 60px;
			 }
	header { background-color: #0E0E0E;
		 background-image: url(sexy-desktop-backgrounds3.jpg);
		 background-repeat: no-repeat;
		 background-position: right; 
		 color: #000000;  
		 text-align: center; 
		 padding: 10px 0;
	}		 
	#sub { width: 87%}

}
